.section-2__grid {
    width: 992px;
    height: 516px;
    display: flex;
    flex-wrap: wrap;
    background: url(../aylin/byRanoGafurova-70323.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.impulse_heart {
    background: url(../imgs/Vector.svg);
    width: 50px;
    height: 44px;
    transition: 0.2s;
    opacity: 0;
    margin-bottom: -50px;
}

.grid__item {
    width: 248px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.15px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}

.grid__item p {
    margin-top: 8px;
    font-size: 20px;
    color: black;
    text-shadow: 0 0 10px white;
}

.grid__item:hover {
    border: none;
    background: #d9b159;
    transition: 0.2s;
}

.grid__item:hover p {
    color: white;
    text-shadow: none;
}

.grid__item:hover .impulse_heart {
    margin-bottom: 0;
    opacity: 1;
    transition: 0.2s;
    background: url(../imgs/Vector\ active.svg);
}
