.section__serv {
    width: 600px;
    margin: 100px auto 0;
}

.serv__image {
    width: 580px;
    height: 400px;
}

.serv__image img {
    width: 100%;
}

.serv__title,
.serv__text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #424242;
}

.serv__title {
    font-size: 25px;
    line-height: 29px;
    margin: 10px 0;
}

.row:not(:last-child) {
    margin-bottom: 20%;
}