.section__serv {
    width: 100%;
    margin: 100px auto -300px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.serv__image {
    max-width: 500px;
    height: 400px;
}

.serv__image img {
    width: 100%;
}

.serv__title,
.serv__text,
.serv__price {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #424242;
}

.serv__title {
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin: 10px 0;
}

.row {
    width: 500px;
}

.row:not(:last-child) {
    margin-bottom: 15%;
}

.serv__btn {
    width: 60% !important;
    background: none;
    display: block;
}

.serv__enroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}