* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

:focus,
:active {
    outline: none
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjusst: 100%;
    -moz-text-size-adjusst: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-innesr {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

.header__line {
    height: 1px;
    max-width: 100%;
    background: #d9b159;
    position: relative;
    z-index: 2;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
}

.header__body {
    position: relative;
}

.header__top {
    width: 100%;
    min-height: 85px;
    padding: 12px 0;
}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    cursor: pointer;
    position: relative;
    z-index: 3;
    width: 12%;
}

.header__logo img {
    width: 100%;
}

.header__phone {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__phone>*:not(:last-child) {
    margin-right: 22px;
}

.header__number {
    white-space: nowrap;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    color: #424242;
}

.header__socials {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__socials>* {
    cursor: pointer;
}

.header__socials>*:not(:last-child) {
    margin-right: 26px;
}




.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}

.header__item:hover {
    background: #d9b159;
}

.header__item:hover p {
    color: white;
}

.header__item p {
    color: #424242;
}

.section__head {
    width: 100%;
}

.main {
    margin-top: 150px;
    padding-top: 20px;
}

.main__container {
    width: 75%;
    margin: auto;
}

.img__head {
    margin-left: 15%;
    width: 50%;
}

.img__head img {
    width: 100%;
    margin-top: 100px;
}

.h6__style h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #424242;
}

.logo__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    color: #212c3f;
    margin: 3% 0;
}

.logo__text span {
    color: #d9b159;
}

.paragraph__header p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}



/* Бесплатный вебинар */
.main__container {
    display: flex;
}

.content__head {
    padding-top: 10%;
    width: 50%;
}

.buttons__head {
    display: flex;
    margin-top: 57px;
}

.button {
    width: 285px;
    height: 66px;
    border: 1px solid #d9b159;
    color: #d9b159 !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.button:hover {
    color: white !important;
    background: #d9b159;

}

.btn-1 {
    margin-right: 2%;
}

/* VALMARI */

.section-1 {
    margin-top: 5%;
}

.hero {
    background-color: #faf0db;
    padding-bottom: 50px;
}

.wrap {
    display: flex;
}

.img__sec1 {
    width: 50%;
    height: 781px;

}
.img_sec1 {
    width: 50%;
    height: 781px;
}
.f{
    height: 500px !important;
}

.img__sec1 img {
    width: 100%;
}

.img_sec1 img {
    width: 100%;
}

.content-sec-1 {
    width: 50%;
}

.content-sec-1 h2 {
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: #858585;
}

.content-sec-1 {
    padding-left: 10%;
    box-sizing: border-box;
}

.content-sec-1 h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 107%;
}

.content-sec-1 P {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #424242;
    margin-top: 15%;
}

.content-sec-1 h6 {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: #d9b159;
}

.content-sec-1 img {
    position: relative;
    top: 10px;
    left: 10px;
}

/* ВЕДЕМ НАБОР МОДЕЛЕЙ */



.section-2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.content-sec-2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 115%;
    color: #d9b159;
}

.content-sec-2 p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: #424242;
    margin-top: 75px;
}

section {
    margin-bottom: 100px !important;
}

.title {
    margin: 0 auto 64px;
}

.title h4 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #e7af36;
}

.title h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    color: #d9b159;
}